pandas
numpy
langchain==0.0.284
langchain-community==0.0.284
langchain-openai==0.0.284
python-dotenv==1.0.0
streamlit==1.22.0
unstructured==0.9.2
tiktoken==0.4.0
faiss-cpu==1.7.4
openai==0.28.0
reportlab
textblob
python-magic   # for macOS/Linux (remove if using Windows)
# python-magic-bin==0.4.14   # uncomment instead if using Windows
